@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To NSN Careers</h1>
    <h1 class="display-4">Your ISTQB Certification Is a Guarantee!!</h1>
</div>
