@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NSN Careers</h1>
    <h1 class="display-4">Enjoy ur Testing Career</h1>
</div>
